<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <style>
    * h1 {
      margin-left: 50px;
    }

    hr {
      margin-left: 20px;
      margin-right: 100px;
    }

    h1,
    h4 {
      font-family: sans-serif;
    }
  </style>
  <title>FAQ's'</title>
</head>

<body>
  <h1>
    Faq's about me ! aka [Eduaction & Experiance]
  </h1>
  <hr>
  <h1>Eduaction Details </h1>
  <h4>High School from Dcv Inter collage with 8.4 cgpa</h4>
  <h4>10+2 from Same Collage with 8.5 cgpa</h4>
  <h4>Bachlor Degree from IITM (2023-2027)</h4>
  <hr>
  <h1>Services</h1>
  <ul>
    <li>Web developer </li>
    <li>Data Analytics,PostgreSQL </li>
    <li>Machine Learning</li>
    <li>Database Management</li>
    <li>Application Developement </li>
    <li>Ai API</li>
    <li>Data scientist</li>
    <li>Linux File handling</li>
    <li>Excel,PowerBi,Tableu,Command Line Editors</li>
  </ul>


  <hr>

  <h1>What tools i use</h1>
  <ul>
    <li>VS Code (for coding )</li>
    <li>And i use mobile phone to do 50% of code </li>
    <li>Google colab [for data analytics and machine learning]</li>
    <li>Leetcode for dsa</li>
    <li>Linkdin for network</li>
    <li>You can check my accounts below</li>
  </ul>
  <hr>
  <h1>Specialization</h1>
  <ul>
    <li>App developement</li>
    <li>Database Management</li>
    <li>Machine Learning</li>
  </ul>


  <hr>
  <h1>Availibility</h1>
  <p>Open to Work</p>

  <hr>
  <h1>Education </h1>
  <p>Bachlor degree in computer science </p>

  <hr>

  <h1>

  </h1>
</body>

</html>